In [3]:
from xgboost import XGBRegressor
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import explained_variance_score

In [4]:
new_df = pd.read_csv("Crypto data.csv")
new_df["Date"] = pd.to_datetime(new_df["Date"])
new_df.head(20)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,name,symbols
0,2019-01-01,3746.713379,3850.913818,3707.231201,3843.520020,4324200990,0,0,Bitcoin,BTC
1,2019-01-02,3849.216309,3947.981201,3817.409424,3943.409424,5244856836,0,0,Bitcoin,BTC
2,2019-01-03,3931.048584,3935.685059,3826.222900,3836.741211,4530215219,0,0,Bitcoin,BTC
3,2019-01-04,3832.040039,3865.934570,3783.853760,3857.717529,4847965467,0,0,Bitcoin,BTC
4,2019-01-05,3851.973877,3904.903076,3836.900146,3845.194580,5137609824,0,0,Bitcoin,BTC
5,2019-01-06,3836.519043,4093.297363,3826.513184,4076.632568,5597027440,0,0,Bitcoin,BTC
6,2019-01-07,4078.584961,4092.613525,4020.894043,4025.248291,5228625637,0,0,Bitcoin,BTC
7,2019-01-08,4028.472168,4109.020996,3996.955322,4030.847900,5306593305,0,0,Bitcoin,BTC
8,2019-01-09,4031.552002,4068.403564,4022.662842,4035.296387,5115905225,0,0,Bitcoin,BTC
9,2019-01-10,4034.411377,4064.066650,3659.174561,3678.924561,6874143796,0,0,Bitcoin,BTC
10,2019-01-11,3674.015381,3713.881836,3653.069824,3687.365479,5538712865,0,0,Bitcoin,BTC
11,2019-01-12,3686.973145,3698.978271,3653.810791,3661.301025,4778170883,0,0,Bitcoin,BTC
12,2019-01-13,3658.868164,3674.760010,3544.927246,3552.953125,4681302466,0,0,Bitcoin,BTC
13,2019-01-14,3557.311035,3727.836182,3552.285156,3706.052246,5651384490,0,0,Bitcoin,BTC
14,2019-01-15,3704.216309,3720.153320,3619.949219,3630.675293,5537192302,0,0,Bitcoin,BTC
15,2019-01-16,3631.509766,3685.777100,3624.673340,3655.006836,5394457145,0,0,Bitcoin,BTC
16,2019-01-17,3651.871094,3680.135986,3621.960938,3678.563965,5464420383,0,0,Bitcoin,BTC
17,2019-01-18,3677.990479,3682.520020,3637.080811,3657.839355,5002961727,0,0,Bitcoin,BTC
18,2019-01-19,3652.377930,3758.533447,3652.377930,3728.568359,5955691380,0,0,Bitcoin,BTC
19,2019-01-20,3725.446045,3743.387939,3583.019531,3601.013672,5582489560,0,0,Bitcoin,BTC

In [5]:
Ada = new_df[new_df["symbols"]== "ADA"].copy()
new_ada = pd.DataFrame(Ada)
new_ada

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,name,symbols
10427,2019-01-01,0.040984,0.042547,0.040308,0.042547,14962902,0,0,Cadano,ADA
10428,2019-01-02,0.042568,0.045563,0.041982,0.045258,24151526,0,0,Cadano,ADA
10429,2019-01-03,0.045106,0.045259,0.042535,0.042682,21126963,0,0,Cadano,ADA
10430,2019-01-04,0.042629,0.044092,0.042477,0.043812,16024029,0,0,Cadano,ADA
10431,2019-01-05,0.043659,0.045570,0.043350,0.044701,25100965,0,0,Cadano,ADA
...,...,...,...,...,...,...,...,...,...,...
11629,2022-04-17,0.952531,0.961512,0.915346,0.917466,528371933,0,0,Cadano,ADA
11630,2022-04-18,0.917509,0.937368,0.877736,0.936730,1105222191,0,0,Cadano,ADA
11631,2022-04-19,0.936762,0.954662,0.928201,0.953333,777142382,0,0,Cadano,ADA
11632,2022-04-20,0.953325,0.974735,0.932510,0.937341,828312845,0,0,Cadano,ADA
11633,2022-04-21,0.937272,0.969453,0.896912,0.910474,871111347,0,0,Cadano,ADA

In [6]:
new_ada. describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1207.000000,1207.000000,1207.000000,1207.000000,1.207000e+03,1207.0,1207.0
mean,0.592888,0.618253,0.566352,0.593653,1.569623e+09,0.0,0.0
std,0.742570,0.773773,0.709357,0.742601,2.428508e+09,0.0,0.0
min,0.023954,0.025993,0.019130,0.023961,1.101152e+07,0.0,0.0
25%,0.049988,0.051733,0.048424,0.050127,8.828525e+07,0.0,0.0
50%,0.103097,0.106979,0.100179,0.104008,4.778389e+08,0.0,0.0
75%,1.185676,1.225057,1.142402,1.185525,2.095375e+09,0.0,0.0
max,2.966390,3.099186,2.907606,2.968239,1.914198e+10,0.0,0.0

In [7]:
#Dropping the dropping the unnecessary data
new_ada.drop(['name', 'Date', "Dividends" , "Stock Splits", "symbols" ], axis = 1, inplace = True)

new_ada.head()

           Open      High       Low     Close    Volume
10427  0.040984  0.042547  0.040308  0.042547  14962902
10428  0.042568  0.045563  0.041982  0.045258  24151526
10429  0.045106  0.045259  0.042535  0.042682  21126963
10430  0.042629  0.044092  0.042477  0.043812  16024029
10431  0.043659  0.045570  0.043350  0.044701  25100965

In [8]:
#extracting the independent and dependent variable
x =  np.array(new_ada.drop(['Close'], 1))
#print(x)
y = np.array(new_ada['Close'])

C:\Users\nudou\AppData\Local\Temp\ipykernel_20024\545680320.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x =  np.array(new_ada.drop(['Close'], 1))

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)# 70% training and 30% test
print(y_test)

[0.138303   0.049261   0.077955   0.028249   0.046163   0.049664
 0.036048   1.39439702 0.044172   0.039532   0.036559   0.083472
 1.68642294 1.05026698 1.06671596 1.46554101 0.085442   0.0795
 0.059466   0.29998001 1.35424805 2.10856009 0.033215   1.36203003
 0.105866   2.91738605 0.133505   0.058772   0.122688   1.18913996
 0.125214   0.123773   0.083445   0.034462   0.04281    0.043873
 1.05165696 0.031984   0.0406     0.106104   1.34175706 0.110572
 1.40311801 0.108083   2.33094096 1.24053395 0.95982802 1.41178596
 0.041967   0.04575    0.045879   2.30154109 1.16852295 0.082817
 0.038229   0.066146   0.044043   0.046601   0.137398   0.104525
 2.502491   0.041058   1.37697506 0.053793   1.75050294 0.041495
 1.59413099 0.12927499 0.08387    0.092143   0.106621   0.05864
 1.37758398 2.36997795 0.08069    0.050932   1.31772995 0.052169
 0.044328   0.042297   0.04941    0.049767   0.036198   0.044437
 1.98620605 1.76407695 0.153964   1.48252106 0.096348   0.096578
 2.10180211 0.047677   0.402033   0.171308   2.43543506 0.104008
 0.032845   1.407251   0.346129   2.21465111 0.059429   0.122965
 0.048761   0.080428   1.65012395 0.052561   0.038827   0.05979
 0.99770302 0.85833502 0.104064   0.050207   0.03418    0.046931
 0.086654   1.17872    0.040547   0.032295   0.80391699 1.173715
 2.13590503 2.83280706 0.093056   0.077335   0.059046   1.65134501
 1.59285498 2.19721389 0.047195   0.029414   0.103097   0.037857
 0.033632   0.063228   0.05126    0.096152   0.094856   0.97469598
 1.921736   0.055996   1.05644405 0.046158   0.087965   1.147017
 1.30217004 0.035616   1.13562405 0.033728   0.105221   1.984882
 1.67256606 2.25287294 2.39563799 0.083116   0.040605   2.17036295
 0.096538   0.060152   0.887918   0.038772   0.096989   1.96502602
 0.033354   0.079028   1.24295294 0.82375199 0.20499501 0.043119
 0.15351    1.09189403 0.077774   0.14301801 2.38591099 0.047397
 0.055768   0.107388   0.044147   1.365026   0.084617   0.056875
 0.123712   0.096994   0.039649   0.038678   0.042843   0.045932
 0.07947    0.05343    2.00479603 1.10748196 0.024121   0.035816
 0.37142801 1.10987401 0.076748   0.078387   2.06568789 0.081754
 0.045258   1.57510996 0.049195   1.77655494 0.044581   0.081691
 0.115613   0.95264    1.20673501 0.089      0.037871   0.040623
 0.083531   0.043123   0.068581   1.10135496 1.30805898 0.044777
 1.16542494 0.036409   1.25289595 0.31308001 0.095376   0.0332
 0.079603   1.74277794 2.15419888 1.08498096 0.067595   0.069754
 1.61955404 0.051106   0.143573   2.4006629  0.079964   2.18595004
 0.084643   0.15782399 0.042838   0.037486   0.044697   0.353881
 0.133642   0.101062   0.148241   0.026009   0.16471399 0.092808
 1.39707398 0.040425   0.061704   2.16681504 1.51198697 2.45770192
 0.53787398 0.164212   0.034281   0.137436   1.93366802 0.88901699
 0.041636   1.42070603 1.83976305 0.093369   0.046198   1.15247798
 0.051922   2.53552794 0.99711299 0.050463   0.069858   1.13101196
 0.157564   1.31020904 0.910474   1.19112396 0.13639399 0.790995
 0.93241203 1.27978206 1.12734497 1.33608496 0.087009   0.034269
 1.32163703 2.01558709 0.052052   0.043637   0.082998   0.83837402
 0.048945   0.36261901 0.125411   0.094217   1.29626298 0.096357
 0.025336   0.063781   0.039396   0.052594   1.16809797 0.68251097
 0.141994   1.09915102 0.043291   2.11445189 0.045654   2.42813993
 0.056364   0.30559701 0.030451   0.068591   0.15288299 0.038816
 0.106391   0.064559   2.84749007 0.042682   0.84288901 0.164988
 0.081077   1.20630705 1.20254099 0.06151    0.16348299 0.28700301
 0.053514   1.31165802 0.045825   0.074106   1.32234502 2.13659096
 1.33561099 0.037483   2.13607907 0.14445999 0.192164   1.25647795
 0.062958   1.22850096 0.042944   0.054252   1.21396899 0.038885
 2.04576612 0.091683   0.925587   1.35307097 1.75282395 1.45349503
 1.406232   1.21989202 0.123922   0.118226   0.080476   1.48021996
 0.093434   0.15799201 1.34947395 0.102494   0.043492   0.057763
 1.30453503 1.18751204 0.034284  ]

In [10]:
scaler = MinMaxScaler()
scaled_x_train = scaler.fit_transform(x_train)
scaled_x_test = scaler.fit_transform(x_test)
scaled_y_train = scaler.fit_transform(np.array(y_train).reshape(-1, 1))
scaled_y_test = scaler.fit_transform(np.array(y_test).reshape(-1, 1))

XGBOOST REGRESSION

In [11]:

# Training the model
xgb_model = XGBRegressor(n_estimators=10000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8)

xgb_model.fit(scaled_x_train, scaled_y_train)
xgb_prediction = xgb_model.predict(scaled_x_test)

#checking for model accuracy
rmse = np.sqrt(mean_squared_error(scaled_y_test, xgb_prediction))
mae = mean_absolute_error(scaled_y_test, xgb_prediction)

print('Root Mean Square Error:', rmse)
print('Mean Absolute Error:', mae)

Root Mean Square Error: 0.015298230269857487
Mean Absolute Error: 0.007542214898754753

In [12]:
#checking for accuracy score

print(xgb_prediction[:10])
print(scaled_x_test[:10])

from sklearn.metrics import r2_score

rfr_prediction = xgb_model.predict(scaled_x_test)


print(rfr_prediction[:10])
print(scaled_x_test[:10])

print('Test R^2     : %.3f'%r2_score(scaled_y_test, xgb_prediction))
print('Test R^2     : %.3f'%xgb_model.score(scaled_x_test, scaled_y_test))
print('Training R^2 : %.3f'%xgb_model.score(scaled_x_train, scaled_y_train))

[0.0406671  0.00722635 0.01904053 0.00091289 0.00717844 0.00787008
 0.00321725 0.47854513 0.00626721 0.00477231]
[[3.84454413e-02 3.89742336e-02 4.12893056e-02 2.03772608e-02]
 [6.62999017e-03 8.03833572e-03 8.06639654e-03 2.45742488e-03]
 [2.01939284e-02 2.02172093e-02 1.98924958e-02 7.33336482e-03]
 [1.53985746e-03 1.31093802e-03 2.15388406e-03 3.66344079e-03]
 [6.74286927e-03 6.85726717e-03 8.11266627e-03 3.91767091e-04]
 [8.07668816e-03 8.23925966e-03 8.71704556e-03 9.87207465e-03]
 [3.51355408e-03 3.80464423e-03 3.98710692e-03 5.23784785e-03]
 [4.44628554e-01 4.65221230e-01 4.53512699e-01 1.31765488e-01]
 [6.38144968e-03 6.34458657e-03 7.63669523e-03 3.09626834e-03]
 [4.42713262e-03 4.73617169e-03 5.37628243e-03 4.25491768e-03]]
[0.0406671  0.00722635 0.01904053 0.00091289 0.00717844 0.00787008
 0.00321725 0.47854513 0.00626721 0.00477231]
[[3.84454413e-02 3.89742336e-02 4.12893056e-02 2.03772608e-02]
 [6.62999017e-03 8.03833572e-03 8.06639654e-03 2.45742488e-03]
 [2.01939284e-02 2.02172093e-02 1.98924958e-02 7.33336482e-03]
 [1.53985746e-03 1.31093802e-03 2.15388406e-03 3.66344079e-03]
 [6.74286927e-03 6.85726717e-03 8.11266627e-03 3.91767091e-04]
 [8.07668816e-03 8.23925966e-03 8.71704556e-03 9.87207465e-03]
 [3.51355408e-03 3.80464423e-03 3.98710692e-03 5.23784785e-03]
 [4.44628554e-01 4.65221230e-01 4.53512699e-01 1.31765488e-01]
 [6.38144968e-03 6.34458657e-03 7.63669523e-03 3.09626834e-03]
 [4.42713262e-03 4.73617169e-03 5.37628243e-03 4.25491768e-03]]
Test R^2     : 0.997
Test R^2     : 0.997
Training R^2 : 1.000